:root{
    --color-body-blue:#012D63;
    --color-body-violet:#8E32C6;
    --color-body-white:#FFFFFF;
    --color-body-gray_1:#DCDCDC;
    --color-body-gray_2:#C7C7C7;
    --color-body-gray_3:#959595;
    --color-body-gray_4:#8D8D8D;
    --color-body-gray_5:#9B9B9B;
    --color-body-gray_6:#D8D8D8;
    --color-body-black:#021635;


    --font-family: "Roboto", sans-serif;
    --second-family: "PT Serif", sans-serif;
    --second-family: "Playfair Display", sans-serif;
}

body{
    font-family: 'Roboto';
}

.main-container{
    width: 1440px;
    margin: 0 auto;
    outline: 1px dashed green;
}


.container{
    width: 1110px;
    margin: 0 auto;
    outline: 1px dashed tomato;
    }

/* header */
.header{
    background-color: var(--color-body-black);
    width: 1440px;
    padding-top: 16px;
    padding-bottom: 14px;
}

.header-flex,
.header-list,
.navigation,
.list_box{
    display: flex;
    align-items: center;
}

.header-img{
    margin-right: 152px;
}


.header-list{
    margin-right: 73px;
}



.header-item:not(:last-child){
    margin-right: 29px;
}

.header-link_1{
    color: var(--color-body-white);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
}

.header-link{
color: var(--color-body-gray_2);
font-family: 'Roboto';
font-weight: 300;
font-size: 24px;
}


.box_1{
    color: var(--color-body-gray_1);
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    margin-right: 10px;
}

.box_2{
    color: var(--color-body-white);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
}


/* hero */
.hero{
    background: url('../images/layer_1.jpg');
    width: 1440px;
    padding-bottom: 183px;
    padding-top: 94px;

}

.box{
    color: var(--color-body-white);
    font-weight: 400;
    font-family: 'PT Serif';
    font-size: 48px;
}

.hero-subject_1{
    font-family: 'Playfair Display';
    font-weight: 400;
    color: var(--color-body-white);
    font-size: 144px;
}

.hero-subject_2{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 72px;
}

.hero-tex{
    font-weight: 400;
    color: var(--color-body-white);
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 41px;
    width: 508px;
   
}

.hero-button{
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--color-body-white);
    background-color: var(--color-body-violet);
    font-size: 24px;
    padding-left: 61px;
    padding-top: 20px;
    padding-bottom: 19px;
    padding-right: 61px;
    border-radius: 10px;
}


/* features */

.features{
    background: url('../images/layer_2.jpg');
    width: 1440px;
    padding-top: 105px;
    padding-left: 165px;
    padding-bottom: 105px;
    padding-right: 165px;
   
}

.features-item_stars{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.features-item_spray{
    margin-top: 25px;
    margin-bottom: 19px;
    margin-left: 95px;
    margin-right: 95px;
}

.features-item_car{
    margin-top: 22px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.features-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-title{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 36px;
}

.features-title_stars{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 36px;
}


 .features-title_spray{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 36px;
} 

.features-title_car{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 36px;
} 



/* Reviews */
.reviews{
    background: url('../images/layer_3.jpg');
    width: 1440px;
    padding-top: 25px;
    padding-bottom: 114px;
}

.container-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-list{
    display: flex;
}

.reviews-items_title{
    margin-right: 93px;
}

.reviews-items_subject{
    margin-right: 93px;
}

.reviews-title{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 48px;
    margin-bottom: 24px;
}

.reviews-list_img{
    background: url('../images/man.jpg');
    width: 31px;
    height: 31px;
    background-size: cover;
}

.reviews-items_subject_img{
    background: url('../images/woman.jpg');
    width: 31px;
    height: 31px;
    background-size: cover;
}

.reviews-items_heading_img{
    background: url('../images/man_2.jpg');
    width: 31px;
    height: 31px;
    background-size: cover;
}


.reviews-tex_title{
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--color-body-white);
}

.reviews-tex{
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--color-body-gray_6);
}

.reviews-subject{
    font-weight: 400;
    color: var(--color-body-white);
    font-family: 'Roboto';
}

.reviews-tex_subject{
    font-weight: 400;
    color: var(--color-body-gray_6);
}




/* Order */

.order{
    background: url('../images/layer_4.jpg');
    width: 1440px;
    padding-top: 24px;
    padding-bottom: 36px;
}

.container-order{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.order-title{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    display: block;
    font-size: 48px;
}

.order-lead_1{
    font-weight: 400;
    color: var(--color-body-gray_3);
    font-family: 'Roboto';
    display: block;
    font-size: 28px;
}

.order-button_1{
    color: var(--color-body-gray_4);
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 28px;
}

.order-lead_2{
    font-weight: 400;
    color: var(--color-body-gray_3);
    font-family: 'Roboto';
    display: block;
    font-size: 24px;
    margin-top: 19px;
}

.order-button_2{
    color: var(--color-body-white);
    background-color: var(--color-body-violet);
    font-weight: 400;
    font-family: 'Roboto';
    display: block;
    font-size: 24px;
    margin-top: 19px;
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 49px;
    padding-right: 48px;
}

/* footer */
.footer{
    background-color: var(--color-body-black);
    width: 1440px;
    padding-bottom: 24px;
    padding-top: 45px;
}



.footer-item{
    display: flex;
    justify-content: space-between;
}


.footer-text{
    font-weight: 400;
    color: var(--color-body-white);
    font-family: 'Roboto';
    font-size: 24px;
}

.footer_link{
    color: var(--color-body-white);
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 24px;
}

.footer-text_2{
    color: var(--color-body-white);
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 24px;
}

.footer-item:last-child{
    margin-bottom: 24px;
}

.footer-item_2{
    margin-top: 44px;
}


.footer-list_2{
    display: flex;
    justify-content: space-between;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.Logo_4{
    font-weight: 400;
    font-family: 'PT Serif';
    color: var(--color-body-white);
    font-size: 24px;
} 
