:root{
    --color-body-blue:#012D63;
    --color-body-violet:#8E32C6;
    --color-body-white:#FFFFFF;
    --color-body-gray_1:#DCDCDC;
    --color-body-gray_2:#C7C7C7;
    --color-body-gray_3:#959595;
    --color-body-gray_4:#8D8D8D;
    --color-body-gray_5:#9B9B9B;
    --color-body-gray_6:#D8D8D8;
    --color-body-black:#021635;


    --font-family: "Roboto", sans-serif;
    --second-family: "PT Serif", sans-serif;
    --second-family: "Playfair Display", sans-serif;
}

.container{
    width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px dashed tomato;
    }

/* header */
.header{
    background-color: var(--color-body-black);
    width: 1440px;
    margin-left: 100px;
}

/* .logo_logo{
  background: url('../images/logo_logo.jpg');
  width: 100px;
  height: 60px;
  background-position: left;
  background-size: cover;
} */

.header-link_1{
    color: var(--color-body-white);
    font-family: 'Roboto';
    font-weight: 400;
    margin-right: 29px;
    font-size: 24px;
}

.header-list{
display: flex;
margin-left: 152px;
justify-content: center;
}

.header-link{
color: var(--color-body-gray_2);
font-family: 'Roboto';
font-weight: 300;
margin-right: 29px;
font-size: 24px;
}


.list_box{
    display: flex;
    justify-content: end;
}

.box_1{
    color: var(--color-body-gray_1);
    font-family: 'Roboto';
    font-weight: 300;
    margin-right: 7px;
    font-size: 24px;
}

.box_2{
    color: var(--color-body-white);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
}


/* hero */
.hero{
    background: url('../images/layer_1.jpg');
    width: 1440px;
    margin-left: 100px;
}


.box{
    background: url('../images/logo_logo.jpg');
    background-size: cover;
    color: var(--color-body-white);
    font-weight: 400;
    font-family: 'PT Serif';
    font-size: 48px;
    margin-left: 170px;
}

.hero-subject_1{
    font-family: 'Playfair Display';
    font-weight: 400;
    color: var(--color-body-white);
    font-size: 144px;
    margin-left: 156px;
    padding-top: 5px;
}

.hero-subject_2{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 72px;
    margin-left: 164px;
}

.hero-tex{
    font-weight: 400;
    color: var(--color-body-white);
    font-size: 18px;
    margin-left: 164px;
    padding-top: 12px;
    padding-bottom: 41px;
    width: 508px;
   
}

.hero-button{
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--color-body-white);
    background-color: var(--color-body-violet);
    display: block;
    margin-top: 41px;
    width: 254px;
    height: 67px;
    font-size: 24px;
    margin-bottom: 250px;
}


/* features */

.features{
    background: url('../images/layer_2.jpg');
    width: 1440px;
    margin-left: 100px;
}

.features-item_stars{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}


.features-item_spray{
    margin-top: 25px;
    margin-bottom: 19px;
}

.features-item_car{
    margin-top: 22px;
    margin-bottom: 25px;
    margin-right: 50px;
}



.features-list{
    display: flex;
    justify-content: space-between;
}

.features-title{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 36px;
}

.features-title_stars{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 36px;
    width: 159px;
    height: 102px;
}

.features-item_spray{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 36px;
    width: 161px;
    height: 102px;
}

.features-item_car{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 36px;
    width: 151px;
    height: 103px;
}



/* Reviews */
.Reviews{
    background: url('../images/layer_3.jpg');
    width: 1440px;
    margin-left: 100px;
}

.Reviews-list{
    display: flex;
    
    justify-content: space-evenly;
}

.Reviews-items_title{
    width: 255px;
    height: 292px;
}

.Reviews-items_subject{
    width: 255px;
    height: 292px;
}

.Reviews-items_heading{
    width: 255px;
    height: 292px;
}

.Reviews-title{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    font-size: 48px;
    margin-left: 633px;
    margin-bottom: 24px;
}

.Reviews-list_img{
    background: url('../images/man.jpg');
    width: 31px;
    height: 31px;
    background-size: cover;
}

.Reviews-items_subject_img{
    background: url('../images/woman.jpg');
    width: 31px;
    height: 31px;
    background-size: cover;
}

.Reviews-items_heading_img{
    background: url('../images/man_2.jpg');
    width: 31px;
    height: 31px;
    background-size: cover;
}


.Reviews-tex_title{
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--color-body-white);
}

.Reviews-tex{
    font-weight: 400;
    font-family: 'Roboto';
    color: var(--color-body-gray_6);
}

.Reviews-subject{
    font-weight: 400;
    color: var(--color-body-white);
    font-family: 'Roboto';
}

.Reviews-tex_subject{
    font-weight: 400;
    color: var(--color-body-gray_6);
}




/* Order */

/* .Order-container{
    justify-content: center; 
}  */


.Order{
    background: url('../images/layer_4.jpg');
    width: 1440px;
    margin-left: 100px;
}

.Order-title{
    font-weight: 400;
    font-family: 'Playfair Display';
    color: var(--color-body-white);
    display: block;
    font-size: 48px;
    margin-left: 650px;
}

.Order-lead_1{
    font-weight: 400;
    color: var(--color-body-gray_3);
    font-family: 'Roboto';
    display: block;
    font-size: 28px;
    margin-left: 520px;
}

.Order-button_1{
    color: var(--color-body-gray_4);
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 28px;
    margin-left: 520px;
}

.Order-lead_2{
    font-weight: 400;
    color: var(--color-body-gray_3);
    font-family: 'Roboto';
    display: block;
    font-size: 24px;
    margin-left: 530px;
    margin-top: 19px;
}

.Order-button_2{
    color: var(--color-body-white);
    background-color: var(--color-body-violet);
    font-weight: 400;
    font-family: 'Roboto';
    display: block;
    font-size: 24px;
    margin-left: 600px;
    margin-top: 19px;
}

/* footer */
.footer{
    background-color: var(--color-body-black);
    width: 1440px;
    margin-left: 100px;
}



.footer-item{
    display: flex;
    justify-content: space-between;
}


.footer-text{
    font-weight: 400;
    color: var(--color-body-white);
    font-family: 'Roboto';
    font-size: 24px;
}

.footer_link{
    color: var(--color-body-white);
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 24px;
}

.footer-text_2{
    color: var(--color-body-white);
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 24px;
}

/* .log{
    display: block;
    justify-content: flex-end;
} */

.footer-item_2{
    margin-top: 44px;
}


.footer-list_2{
    display: flex;
    justify-content: space-between;
}


.Logo_4{
    font-weight: 400;
    font-family: 'PT Serif';
    color: var(--color-body-white);
    font-size: 24px;
} 
